figure,
body {
  margin: 0;
}

* {
  user-select: none;
}

.a11y-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.wrap {
  outline: 1px dashed red;
  position: relative;
  width: 600px;
}

.banner {
  background: url("images/bg.png") repeat center top;
  overflow: hidden;
  position: relative;
  height: 0;
  transition: all .6s;
}

.banner.is-active {
  height: 190px;
}

.banner img {
  position: absolute;
  top: -125px;
}

.btn {
  position: absolute;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.btn-sound {
  background: url("images/sound_off.png") no-repeat center top;
  bottom: .5em;
  left: .5em;
  width: 32px;
  height: 28px;
}

.btn-sound.is-active {
  background-image: url("images/sound_on.png");
}

.btn-status {
  right: 0;
  padding: .5em;
  background-color: #ddd;
  color: #fff;
}
