@charset 'UTF-8';

$color-border: #ddd;

.book-table {
	width: 500px;
	border: 1px solid $color-border;
}

table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
	border-collapse: collapse;
}

th, td {
	border: solid $color-border;
	border-width: 1px 1px 0;
}
